











































































































.i-block, .i-widget {
    background-color: #fff;
}

.i-autocomplete, .i-block, .i-button-group .i-tool, .i-calendar th, .i-colorpicker .i-i-arrow-s, .i-content, .i-dropdown-wrap, .i-dropzone-active, .i-editable-area, .i-filter-row > th, .i-footer-template td, .i-grid td, .i-grid td.i-state-selected, .i-grid-content-locked, .i-grid-footer, .i-grid-footer-locked, .i-grid-footer-wrap, .i-grid-header, .i-grid-header-locked, .i-grid-header-wrap, .i-group, .i-group-footer td, .i-grouping-header, .i-grouping-header .i-group-indicator, .i-header, .i-input, .i-pager-refresh, .i-pager-wrap, .i-pager-wrap .i-link, .i-panel > .i-item > .i-link, .i-panelbar .i-content, .i-panelbar .i-panel, .i-panelbar > .i-item > .i-link, .i-separator, .i-slider-track, .i-splitbar, .i-state-default, .i-state-default .i-select, .i-state-disabled, .i-textbox, .i-textbox > input, .i-tiles, .i-toolbar, .i-tooltip, .i-treemap-tile, .i-upload-files, .i-widget {
    border-color: #dbdbdb;
}

















































.i-block, .i-content, .i-dropdown .i-input, .i-popup, .i-toolbar, .i-widget {
    color: #787878;
}









.i-link:link, .i-link:visited, .i-nav-current.i-state-hover .i-link {
    color: #787878;
}





.i-grid-header .i-header > .i-link, .i-header, .i-treemap-title {
    color: #787878;
}

.i-autocomplete, .i-button, .i-draghandle, .i-dropdown-wrap, .i-grid-header, .i-grouping-header, .i-header, .i-numeric-wrap, .i-pager-wrap, .i-panelbar .i-tabstrip-items .i-item, .i-picker-wrap, .i-progressbar, .i-state-highlight, .i-tabstrip-items .i-item, .i-textbox, .i-toolbar, .km-pane-wrapper > .km-pane > .km-view > .km-content {
    background-image: none;
    background-position: 50% 50%;
    background-color: #fff;
}





.i-block, .i-button, .i-draghandle, .i-grid-header, .i-grouping-header, .i-header, .i-pager-wrap, .i-toolbar, .i-treemap-tile, html .km-pane-wrapper .i-header {
    background-color: #fff;
}













































































































































































































































































































































































.i-pager-wrap {
    background-color: #fff;
    color: #787878;
}













































.i-state-disabled {
    opacity: .7;
}
































































































































































.i-button, .i-widget {
    -webkit-box-shadow: none;
    box-shadow: none;
}





























































































































































































































































































































































































































































































































































































.i-gantt-toolbar .i-state-default, .i-grid .i-grouping-header, .i-grid-header, .i-grid-header-wrap, .i-grouping-header .i-group-indicator, .i-header, .i-pager-wrap, .i-pager-wrap .i-link, .i-pager-wrap .i-textbox {
    border-color: #dbdbdb;
}























































































































































































































































































































































































































































































































































































































































































































































































































