.i-rtl {
    direction: rtl;
}

    .i-rtl .i-autocomplete .i-loading, .i-rtl .i-multiselect .i-loading {
        right: auto;
        left: 3px;
    }

    .i-rtl .i-button-icontext .i-icon, .i-rtl .i-button-icontext .i-image {
        margin-right: -.2rem;
        margin-left: .2rem;
    }

    .i-rtl .i-dropdown-wrap, .i-rtl .i-numeric-wrap, .i-rtl .i-picker-wrap {
        padding-right: 0;
        padding-left: 1.9em;
    }

        .i-rtl .i-numeric-wrap.i-expand-padding {
            padding-left: 0;
        }

    .i-rtl .i-datetimepicker .i-picker-wrap {
        padding-right: 0;
        padding-left: 3.8em;
    }

    .i-rtl .i-dropdown-wrap .i-select, .i-rtl .i-numeric-wrap .i-select, .i-rtl span.i-picker-wrap .i-select {
        right: auto;
        left: 0;
        border-width: 0 1px 0 0;
    }

    .i-rtl .i-dropdown-wrap .i-input, .i-rtl .i-numeric-wrap .i-input, .i-rtl .i-picker-wrap .i-input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.i-webkit .i-rtl .i-dropdown-wrap .i-input, .i-webkit .i-rtl .i-numeric-wrap .i-input {
    margin-right: -1px;
}

.i-rtl .i-datetimepicker .i-picker-wrap .i-icon {
    margin: 0 2px 0 0;
}

.i-rtl.i-popup > .i-static-header {
    text-align: left;
    padding-left: 22px;
}

.i-rtl.i-popup .i-item > .i-group {
    right: auto;
    left: 0;
}

.i-rtl.i-popup .i-state-hover > .i-group {
    right: auto;
    left: -1px;
}

.i-rtl.i-popup > .i-group-header, .i-rtl.i-popup > .i-virtual-wrap > .i-group-header {
    text-align: left;
}

.i-rtl .i-widget.i-calendar .i-nav-prev {
    left: auto;
    right: 1%;
}

.i-rtl .i-widget.i-calendar .i-nav-next {
    right: auto;
    left: 1%;
}

.i-rtl .i-form-text-row input {
    margin-right: 0;
    margin-left: 1em;
}

.i-rtl .i-form-checkbox-row input {
    margin-left: 0;
    margin-right: 7.5em;
}

.i-rtl .i-form-checkbox-row label {
    padding-left: 0;
    padding-right: .3em;
}

.i-rtl .i-breadcrumbs {
    float: right;
    padding-right: 0;
    padding-left: 2px;
}

.i-rtl .i-search-wrap {
    float: left;
}

    .i-rtl .i-search-wrap .i-search {
        right: auto;
        left: 2px;
    }

.i-rtl .i-breadcrumbs-wrap {
    left: auto;
    right: 0;
    padding-left: 0;
    padding-right: 5px;
}

.i-rtl .i-editor-dialog .i-button-wrapper {
    text-align: left;
}

.i-rtl .i-tiles-arrange {
    float: left;
}

.i-rtl .i-tile, .i-rtl .i-toolbar-wrap {
    float: right;
}

.i-rtl .i-imagebrowser .i-thumb {
    float: right;
    margin: 4px 4px 0 10px;
}

.i-rtl .i-imagebrowser .i-button:hover .i-i-arrow-e, .i-rtl .i-imagebrowser .i-state-hover .i-i-arrow-e {
    background-position: -16px -48px;
}

.i-rtl .i-tile strong {
    float: right;
}

.i-rtl div.i-grid-footer, .i-rtl div.i-grid-header {
    padding-right: 0;
    padding-left: 17px;
}

.i-rtl .i-grid-footer-wrap, .i-rtl .i-grid-header-wrap {
    border-width: 0;
}

.i-rtl .i-header > .i-grid-filter, .i-rtl .i-header > .i-header-column-menu {
    float: left;
}

.i-rtl .i-grid-header .i-filterable .i-link {
    padding-left: 2.4em;
    padding-right: .6em;
}

.i-rtl .i-filter-row th:first-child, .i-rtl .i-grid tbody td:first-child, .i-rtl .i-grid tfoot td:first-child, .i-rtl .i-grid-header .i-header:first-child {
    border-left-width: 1px;
}

.i-rtl div.i-grid td.i-hierarchy-cell {
    border-left-width: 0;
}

.i-rtl .i-grid .i-group-cell + td, .i-rtl .i-grid .i-hierarchy-cell + td {
    border-left-width: 1px;
}

.i-rtl .i-grid-header .i-header {
    text-align: right;
}

.i-rtl .i-scrollbar-vertical {
    right: auto;
    left: 0;
}

.i-rtl .i-group-footer .i-group-cell + td {
    border-left-width: 0;
    border-right-width: 1px;
}

.i-rtl .i-grid-content-locked, .i-rtl .i-grid-header-locked {
    border-width: 0;
}

.i-rtl .i-grid-header .i-with-icon .i-link {
    margin-right: -.6em;
    margin-left: 1.3em;
}

.i-rtl .i-filtercell > span {
    padding-right: 0;
    padding-left: 4.8em;
}

.i-rtl .i-filtercell > .i-operator-hidden {
    padding-right: 0;
    padding-left: 2.3em;
}

.i-rtl .i-filtercell > span > .i-button {
    right: auto;
    left: 0;
}

.i-rtl .i-filter-row .i-dropdown-operator {
    right: auto;
    left: 2.5em;
}

.i-rtl .i-edit-form-container .editor-label, .i-rtl .i-edit-label {
    float: right;
    clear: both;
    margin-left: 0;
    margin-right: 2%;
    text-align: left;
}

.i-rtl .i-edit-field, .i-rtl .i-edit-form-container .editor-field {
    float: left;
    clear: left;
    margin-right: 0;
    margin-left: 2%;
}

    .i-rtl .i-edit-field > .i-button:first-child, .i-rtl .i-edit-field > input[type=checkbox]:first-child, .i-rtl .i-edit-field > input[type=radio]:first-child, .i-rtl .i-edit-field > label:first-child > input[type=checkbox] {
        margin-right: 0;
    }

.i-rtl .i-edit-form-container .i-edit-buttons {
    text-align: left;
}

.i-rtl .i-dirty {
    border-color: red red transparent transparent;
    margin: -.45em -.6em 0 0;
}

.i-rtl .i-pager-info, .i-rtl .i-pager-wrap .i-pager-refresh {
    float: left;
}

.i-rtl .i-pager-input, .i-rtl .i-pager-numbers li, .i-rtl .i-pager-wrap .i-pager-numbers, .i-rtl .i-pager-wrap > .i-link {
    float: right;
}

.i-rtl .i-gantt .i-grid-header .i-header {
    text-align: center;
}

.i-rtl .i-gantt-actions {
    float: right;
    margin-right: 0;
    margin-left: .6em;
}

.i-rtl .i-gantt-toolbar > .i-gantt-views {
    float: left;
    margin-left: 0;
}

.i-rtl .i-grid tbody td:last-child, .i-rtl .i-grid thead th:last-child {
    border-left-width: 0;
}

.i-rtl .i-timeline .i-grid-header-wrap {
    border-left-width: 1px;
}

.i-rtl .i-gantt-toolbar li:last-child, .i-rtl .i-gantt-toolbar li:last-child > .i-link {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

.i-rtl .i-gantt-toolbar li:last-child {
    border-left-width: 1px;
}

.i-rtl .i-gantt-toolbar li:first-child {
    border-left-width: 0;
}

    .i-rtl .i-gantt-toolbar li:first-child, .i-rtl .i-gantt-toolbar li:first-child > .i-link {
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

.i-rtl .i-gantt-columns, .i-rtl .i-gantt-dependencies, .i-rtl .i-gantt-rows {
    left: auto;
    right: 0;
}

.i-rtl .i-tasi-complete {
    right: 0;
    left: auto;
}

.i-rtl .i-tasi-template {
    padding: .2em .6em .2em 1.4em;
}

.i-rtl .i-tasi-single {
    text-align: right;
}

.i-rtl .i-tasi-actions {
    right: auto;
    left: 4px;
}

.i-rtl .i-tasi-draghandle {
    margin-right: 16px;
}

.i-rtl .i-tasi-dot:after {
    margin-right: 4px;
    margin-left: 0;
}

.i-rtl .i-tasi-start {
    right: 0;
    left: auto;
}

.i-rtl .i-tasi-end {
    left: 0;
    right: auto;
}

.i-rtl .i-resources-wrap {
    margin-left: 0;
    margin-right: 20px;
}

.i-rtl .i-menu .i-item, .i-rtl .i-widget.i-menu-horizontal > .i-item {
    border-width: 0 0 0 1px;
}

.i-rtl .i-widget.i-menu-horizontal > .i-item {
    float: right;
}

.i-rtl .i-menu .i-item > .i-link > .i-i-arrow-s {
    margin-right: 0;
    margin-left: -8px;
}

.i-rtl .i-menu .i-item > .i-link > .i-i-arrow-e {
    right: auto;
    left: .2rem;
}

.i-rtl .i-menu .i-group .i-item > .i-link {
    padding-left: 1.8em;
    padding-right: .9em;
}

.i-rtl .i-menu .i-link > .i-i-arrow-e {
    background-position: 0 -48px;
}

.i-rtl .i-menu .i-link > .i-i-arrow-w {
    background-position: 0 -16px;
}

.i-rtl .i-menu .i-image, .i-rtl .i-menu .i-sprite {
    margin-left: 4px;
    margin-right: -4px;
}

.i-rtl .i-multiselect-wrap .i-input {
    float: right;
}

.i-rtl .i-multiselect-wrap li {
    float: right;
    padding: .1em .4em .1em 1.6em;
    margin: 2px 2px 2px 0;
}

.i-rtl .i-multiselect-wrap .i-select {
    right: auto;
    left: 0;
    padding: .1em .2em;
}

.i-rtl .i-notification-button .i-notification-wrap, .i-rtl.i-notification-button .i-notification-wrap {
    padding-right: .5em;
    padding-left: 20px;
}

.i-rtl .i-notification-wrap > .i-i-note {
    margin-right: 0;
    margin-left: 4px;
}

.i-rtl .i-notification-wrap > .i-i-close {
    right: auto;
    left: 4px;
}

.i-rtl .i-panelbar-collapse, .i-rtl .i-panelbar-expand {
    right: auto;
    left: 2px;
}

.i-rtl .i-panelbar .i-image, .i-rtl .i-panelbar .i-sprite {
    float: right;
    margin-right: 0;
    margin-left: 5px;
}

.i-rtl .i-progressbar > .i-reset {
    left: auto;
    right: -1px;
}

.i-rtl .i-progressbar-horizontal li.i-last {
    border-left-width: 0;
}

.i-rtl .i-scheduler-toolbar > ul {
    float: left;
}

    .i-rtl .i-scheduler-toolbar > ul:first-child {
        float: right;
    }

    .i-rtl .i-scheduler-footer > ul > li, .i-rtl .i-scheduler-toolbar > ul > li {
        border-width: 1px 0 1px 1px;
    }

        .i-rtl .i-scheduler-toolbar > ul > li:first-child {
            border-right-width: 1px;
        }

.i-rtl .i-scheduler div.i-scheduler-footer ul li {
    margin-right: 0;
    margin-left: .6em;
}

.i-rtl .i-scheduler-footer .i-icon, .i-rtl .i-scheduler-toolbar .i-i-calendar {
    margin-right: 0;
    margin-left: 6px;
}

.i-rtl .i-scheduler .i-scrollbar-v .i-scheduler-header-wrap {
    border-right-width: 0;
    border-left-width: 1px;
}

.i-rtl .i-scheduler-monthview .i-scheduler-table td {
    text-align: left;
}

.i-rtl .i-scheduler-header th, .i-rtl .i-scheduler-table td {
    border-left-width: 0;
    border-right-width: 1px;
}

    .i-rtl .i-scheduler-header th:first-child, .i-rtl .i-scheduler-table td:first-child {
        border-right-width: 0;
    }

.i-rtl .i-scheduler-agendaview .i-scheduler-table td:first-child {
    border-left-width: 0;
    border-right-width: 1px;
}

.i-rtl .i-scheduler-agendaview .i-scheduler-table td.i-scheduler-datecolumn {
    border-right-width: 0;
}

.i-rtl .i-scheduler-times th {
    text-align: left;
    padding-right: .5em;
    padding-left: .6em;
    border-right-width: 0;
    border-left-width: 1px;
}

.i-rtl .i-scheduler-now-arrow {
    left: auto;
    right: 0;
}

.i-rtl .i-scheduler-now-line {
    left: 0;
    right: 5px;
}

.i-rtl .i-event, .i-rtl .i-more-events {
    text-align: right;
}

.i-rtl .i-event-template {
    padding-left: 1.4em;
    padding-right: .6em;
}

.i-rtl .i-event-actions, .i-rtl .i-event > .i-link, .i-rtl .i-task > .i-link {
    right: auto;
    left: 4px;
}

.i-rtl .i-scheduler-agendaview .i-task > .i-link {
    right: auto;
    left: 0;
}

.i-rtl .i-event-actions:first-child {
    float: right;
    margin-left: 2px;
    margin-right: 4px;
}

.i-rtl .i-event .i-event-bottom-actions, .i-rtl .i-event .i-event-top-actions {
    left: auto;
    right: 0;
}

.i-rtl .i-event > .i-resize-e {
    right: auto;
    left: 0;
}

.i-rtl .i-event > .i-resize-w {
    left: auto;
    right: 0;
}

    .i-rtl .i-event > .i-resize-e:after, .i-rtl .i-event > .i-resize-w:after {
        left: auto;
        right: 1px;
    }

.i-rtl .i-event > .i-resize-e:after {
    right: auto;
    left: 1px;
}

.i-rtl .i-scheduler-marquee .i-label-top {
    left: auto;
    right: .8em;
}

.i-rtl .i-scheduler-marquee .i-label-bottom {
    right: auto;
    left: .81em;
}

.i-rtl .i-tooltip-bottom {
    text-align: right;
}

    .i-rtl .i-tooltip-bottom .i-button {
        float: right;
        margin-right: 0;
        margin-left: .3em;
    }

    .i-rtl .i-tooltip-bottom .i-quickedit-details {
        float: left;
        margin-left: 0;
    }

.i-rtl .i-scheduler-agendaview .i-scheduler-table td, .i-rtl .i-scheduler-agendaview .i-scheduler-table th {
    text-align: right;
}

.i-rtl .i-scheduler-timecolumn > div > .i-i-arrow-e {
    right: auto;
    left: -4px;
}

.i-rtl .i-scheduler-timecolumn .i-i-arrow-w {
    margin-left: 0;
    margin-right: -4px;
}

.i-rtl .i-scheduler-mark {
    margin-right: 0;
    margin-left: .5em;
}

.i-rtl .i-scheduler-agendaday {
    float: right;
    margin: 0 0 0 .2em;
}

.i-rtl .i-scheduler-edit-form > .i-edit-box:first-child .i-datetimepicker {
    margin-right: 0;
    margin-left: 1em;
}

.i-rtl .i-edit-box {
    float: right;
}

    .i-rtl .i-edit-box + .i-edit-box {
        float: left;
    }

.i-rtl .i-scheduler-edit-form label + input {
    margin-left: 0;
    margin-right: 1em;
}

.i-rtl .i-edit-buttons .i-scheduler-delete {
    left: auto;
    right: .6em;
}

.i-rtl .i-slider .i-button-decrease {
    left: auto;
    right: 0;
}

.i-rtl .i-slider .i-button-increase {
    right: auto;
    left: 0;
}

.i-rtl .i-slider-horizontal .i-slider-selection, .i-rtl .i-slider-horizontal .i-slider-track {
    left: auto;
    right: 0;
}

.i-rtl .i-slider-horizontal .i-slider-buttons .i-slider-track {
    left: auto;
    right: 34px;
}

.i-rtl .i-slider .i-i-arrow-w {
    background-position: 0 -16px;
}

.i-rtl .i-slider .i-button:active .i-i-arrow-w, .i-rtl .i-slider .i-button:hover .i-i-arrow-w, .i-rtl .i-slider .i-state-hover .i-i-arrow-w, .i-rtl .i-slider .i-textbox:hover .i-i-arrow-w {
    background-position: -16px -16px;
}

.i-rtl .i-slider .i-i-arrow-e {
    background-position: 0 -48px;
}

.i-rtl .i-slider .i-button:active .i-i-arrow-e, .i-rtl .i-slider .i-button:hover .i-i-arrow-e, .i-rtl .i-slider .i-state-hover .i-i-arrow-e {
    background-position: -16px -48px;
}

.i-rtl .i-panelbar .i-tabstrip-items .i-item, .i-rtl .i-tabstrip-items .i-item {
    margin-left: -1px;
    margin-right: 0;
}

    .i-rtl .i-panelbar .i-tabstrip-items .i-item .i-image, .i-rtl .i-panelbar .i-tabstrip-items .i-item .i-sprite, .i-rtl .i-tabstrip-items .i-item .i-image, .i-rtl .i-tabstrip-items .i-item .i-sprite {
        margin: -3px -6px 0 3px;
    }

.i-rtl .i-tabstrip-prev {
    left: auto;
    right: .4em;
}

.i-rtl .i-tabstrip-next {
    right: auto;
    left: .4em;
}

.i-rtl .i-overflow-anchor {
    float: left;
    border-width: 0 1px 0 0;
}

.i-rtl .i-toolbar .i-button-group .i-button, .i-rtl .i-toolbar .i-split-button .i-split-button-arrow {
    margin: 0 -1px 0 0;
}

.i-rtl.i-overflow-container .i-overflow-button, .i-rtl.i-split-container .i-button {
    text-align: right;
}

.i-rtl .i-tooltip-button {
    text-align: left;
}

.i-rtl .i-tooltip-closable .i-tooltip-content {
    padding-right: 0;
    padding-left: 20px;
}

.i-rtl .i-treeview .i-item {
    padding: 0 16px 0 0;
}

.i-rtl .i-treeview .i-minus, .i-rtl .i-treeview .i-minus-disabled, .i-rtl .i-treeview .i-plus, .i-rtl .i-treeview .i-plus-disabled {
    margin-left: 0;
    margin-right: -16px;
}

.i-rtl .i-treeview .i-image, .i-rtl .i-treeview .i-sprite {
    margin-right: 0;
    margin-left: 3px;
}

.i-rtl .i-dropzone em {
    margin-left: 0;
    margin-right: .6em;
}

.i-rtl .i-upload-files .i-button, .i-rtl .i-upload-status-total .i-icon {
    margin-left: 0;
    margin-right: 8px;
}

.i-rtl .i-file {
    padding-right: .8em;
    padding-left: .167em;
}

.i-rtl .i-filename {
    margin-left: 0;
    margin-right: 1em;
}

.i-rtl .i-upload-status {
    right: auto;
    left: 12px;
}

.i-rtl .i-progress {
    left: auto;
    right: 0;
}

.i-rtl .i-upload-selected {
    margin-right: .8em;
    margin-left: .2em;
}

.i-rtl .i-window-titlebar .i-window-actions {
    right: auto;
    left: .5em;
}
